export(

  ## fit.models ##

  # Linear Model Comparison
  lmfmResVsRDPlot,

  # Covariance Comparison
  summary.covfm,
  plot.covfm,
  covfmDistancePlot,
  covfmEllipsesPlot,
  covfmScreePlot,
  covfmSqrtMDPlot,

  #Robust univariate parameter estimation
  plot.fdfm,
  fdfmOverlaidDenPlot,
  fdfmQQPlot,


  ## lmRob ##

  lmRob,
  lmRob.fit,
  lmRob.wfit,
  lmRob.fit.compute,
  lmRob.control,
  summary.lmRob,
  plot.lmRob,
  drop1.lmRob,
  step.lmRob,
  anova.lmRob,
  anova.lmRoblist,
  predict.lmRob,
  rb.lmRob,
  lmRob.RFPE,
  test.lmRob,
  update.lmRob,

  psi.weight,
  rho.weight,
  psp.weight,
  chi.weight,
  

  ## glmRob ##

  glmRob,
  glmRob.control,
  glmRob.cubif,
  glmRob.cubif.control,
  glmRob.misclass,
  glmRob.misclass.control,
  glmRob.mallows,
  glmRob.mallows.control,
  summary.glmRob,
  plot.glmRob,
  anova.glmRob,
  anova.glmRoblist,
  predict.glmRob,
  residuals.glmRob,


  ## covRob / covMLE ##

  covRob,
  covRob.control,
  summary.covRob,
  plot.covRob,
  covMLE,
  summary.covMLE,
  plot.covMLE,


  ## Robust univariate parameter estimation ##

  fitdistrRob,
  gammaRob,
  gammaRob.control,
  lognormRob,
  lognormRob.control,
  weibullRob,
  weibullRob.control,
  summary.fitdistrRob,


  ## Other ##

  gen.data
)


## S3 methods for lmRob ##

S3method(anova, lmRob)
S3method(drop1, lmRob)
S3method(labels, lmRob)
S3method(plot, lmRob)
S3method(predict, lmRob)
S3method(summary, lmRob)
S3method(update, lmRob)
S3method(hatvalues, lmRob)

S3method(print, summary.lmRob)


## S3 methods for glmRob ##

S3method(anova, glmRob)
S3method(print, glmRob)
S3method(summary, glmRob)
S3method(labels, glmRob)
S3method(predict, glmRob)
S3method(residuals, glmRob)
S3method(hatvalues, glmRob)

S3method(print, summary.glmRob)


## S3 methods for covRob/covMLE ##

S3method(print, covRob)
S3method(summary, covRob)

S3method(print, summary.covRob)


S3method(print, covMLE)
S3method(summary, covMLE)

S3method(print, summary.covMLE)


## S3 methods for fitdistrRob ##


## S3 methods for fit.models ##

S3method(plot, covfm)
S3method(print, covfm)
S3method(summary, covfm)

S3method(print, summary.covfm)


S3method(plot, fdfm)
S3method(print, fdfm)


## S3 methods for fitdistrRob ##

S3method(print, fitdistrRob)
S3method(summary, fitdistrRob)

S3method(print, summary.fitdistrRob)

## Imports ##

importFrom(stats, hatvalues)

