importFrom("graphics", par)

importFrom("stats", as.formula, coef, fitted, formula,
           hatvalues, lm.influence, model.frame,
           model.response, predict, printCoefmat, qnorm,
           qqnorm, quantile, residuals, rnorm)

importFrom("utils", menu)

importFrom("lattice", densityplot, llines,
           panel.abline, panel.densityplot, panel.loess, panel.rug,
           panel.text, panel.xyplot,
           qqmath,
           simpleKey, strip.default, xyplot)




export(
  fit.models,
  fmclass.register,
  fmclass.add.class,

  # Linear Model Comparison
  summary.lmfm,
  plot.lmfm,
  qqPlot.lmfm,
  kernDenPlot.lmfm,
  scatterPlot.lmfm,
  indexPlot.lmfm,
  overlaidQQPlot.lmfm,
  overlaidKernDenPlot.lmfm,
  simpleRegPlot.lmfm,

  rmodified,
  rmodified.default,
  leverage,
  leverage.default,
  leverage.lm,

  # Generalized Linear Model Comparison
  summary.glmfm,
  plot.glmfm
)

## S3 methods for fit.models ##

S3method(leverage, default)
S3method(leverage, lm)

S3method(rmodified, default)

## -- our "classes" :

S3method(coef, lmfm)
S3method(plot, lmfm)
S3method(print, lmfm)
S3method(summary, lmfm)

S3method(print, summary.lmfm)


S3method(coef, glmfm)
S3method(plot, glmfm)
S3method(print, glmfm)
S3method(summary, glmfm)

S3method(print, summary.glmfm)


