export(
  fit.models,
  fmclass.register,
  fmclass.add.class,

  # Linear Model Comparison
  summary.lmfm,
  plot.lmfm,
  lmfm2DRegPlot,
  lmfmOverlaidQQPlot,
  lmfmOverlaidResDenPlot,
  lmfmResKernDenPlot,
  lmfmResQQPlot,
  lmfmResVsFittedPlot,
  lmfmResVsIdxPlot,
  lmfmRespVsFittedPlot,
  lmfmSqrtResVsFittedPlot,
  
  design.distance,
  design.distance.default,
  rmodified,
  rmodified.default,

  # Generalized Linear Model Comparison
  summary.glmfm,
  plot.glmfm,
  glmfmResQQPlot
)

 ## S3 methods for fit.models ##

S3method(coef, lmfm)
S3method(plot, lmfm)
S3method(print, lmfm)
S3method(summary, lmfm)

S3method(print, summary.lmfm)


S3method(coef, glmfm)
S3method(plot, glmfm)
S3method(print, glmfm)
S3method(summary, glmfm)

S3method(print, summary.glmfm)


